@charset "UTF-8";

.ways__link, .ways__item__image {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}

.header {
    position: relative;
    background: linear-gradient(278.04deg, #ffc83e 31.99%, #ff9f47 81.27%);
    padding: 36px 0 36px 0;
}

@media screen and (max-width: 991px) {
    .header {
        padding: 26px 0 36px 0;
    }
}

label {
    cursor: pointer;
}

.title {
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    text-transform: uppercase;
    color: #45515f;
}

@media screen and (max-width: 991px) {
    .title {
        font-size: 28px;
        line-height: 33px;
    }
}

@media screen and (max-width: 575px) {
    .title {
        font-size: 20px;
        line-height: 24px;
    }
}

.form {
    padding: 41px 0 74px 0;
    background: url(../../assets/images/FORM/bg-form.jpg) no-repeat;
    background-size: cover;
}

@media screen and (max-width: 991px) {
    .form {
        padding: 30px 0 30px 0;
    }
}

@media screen and (max-width: 575px) {
    .form {
        padding: 30px 0 20px 0;
    }
}

.form__title {
    max-width: 558px;
    margin: 0 auto 31px auto;
}

.form__title span {
    color: #ff9f47;
}

@media screen and (max-width: 991px) {
    .form__title {
        margin-bottom: 27px;
    }
}

.form__back {
    background: #ffffff;
    box-shadow: 0px 4px 44px rgba(130, 141, 150, 0.15);
    border-radius: 22px;
    padding: 38px 60px 40px;
}

@media screen and (max-width: 991px) {
    .form__back {
        padding: 23px 16px 22px 16px;
    }
}

.form__back._remove {
    background: transparent;
    box-shadow: none;
}

.form__step__title-min {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #45515f;
    margin: 0 0 20px 0;
}

.form__timer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 17px;
    position: relative;
    padding: 0 0 50px 0;
    border-bottom: 1px solid #f2f2f2;
}

.form__timer__minutes, .form__timer__hours {
    padding: 2px 9px;
    height: 52px;
    width: 70px;
    background: linear-gradient(177.32deg, #ffc83e 21.92%, #ff7347 99.34%);
    border-radius: 5.65568px;
    font-weight: 700;
    font-size: 38.2052px;
    line-height: 47px;
    color: #ffffff;
    position: relative;
}

.form__timer__minutes span, .form__timer__hours span {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.form__timer__hours:before {
    content: "Минут";
    position: absolute;
    font-weight: 300;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    color: #45515f;
    bottom: -17px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.form__timer__hours::after {
    content: "";
    position: absolute;
    width: 3px;
    height: 4px;
    background: #45515f;
    top: 60%;
    right: -10px;
    -webkit-transform: translate(0, -60%);
    transform: translate(0, -60%);
}

.form__timer__minutes:before {
    content: "";
    position: absolute;
    width: 3px;
    height: 4px;
    background: #45515f;
    top: 40%;
    left: -10px;
    -webkit-transform: translate(0, -40%);
    transform: translate(0, -40%);
}

.form__timer__minutes:after {
    content: "Секунд";
    position: absolute;
    font-weight: 300;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    color: #45515f;
    bottom: -17px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.form__step__1 {
    margin: 0 0 30px 0;
    display: block;
    -webkit-transform-origin: center;
    transform-origin: center;
    transition: 1.2s ease;
}

.form__step__1._close {
    opacity: 0;
    visibility: hidden;
    height: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

/*range-styles*/
.hot__calculate {
    padding: 21px 0;
}

.hot__range__row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 72px;
}

@media screen and (max-width: 991px) {
    .hot__range__row {
        padding: 0 40px 0 40px;
    }
}

@media screen and (max-width: 575px) {
    .hot__range__row {
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 0;
    }
}

.range__item {
    width: 100%;
}

.calculate__form__sum {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #45515f;
    text-align: center;
    margin: 0 0 40px 0;
}

.range__slider__sum {
    margin: 0 0 50px 0;
    position: relative;
}

.range__slider__sum::before {
    content: "";
    position: absolute;
    top: -12px;
    left: 0;
    width: 100%;
    height: 8px;
    background: url(../../../assets/images/hot/line-under.png) no-repeat;
    background-size: cover;
}

.range__slider__sum .range__slider__sum__values {
    position: relative;
}

.range__slider__sum .range__slider__sum__values::before {
    content: "1 000 ₽";
    position: absolute;
    left: 0;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #c0c2c5;
    top: 15px;
}

.range__slider__sum .range__slider__sum__values::after {
    content: "100 000 ₽";
    position: absolute;
    right: 0;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #c0c2c5;
    top: 15px;
}

.noUi-target {
    background: #ececec;
    border-radius: 8px;
    border: none;
    box-shadow: none;
    height: 7px;
    cursor: pointer;
}

.noUi-connect {
    background: linear-gradient(81.55deg, #ffc83e 33.93%, #ff9f47 73.78%);
}

.noUi-horizontal .noUi-handle {
    width: 21px;
    height: 21px;
    border: none;
    border-radius: 50%;
    background: url(../../assets/images/hot/arrow-input.png) center no-repeat;
    background-size: cover;
    cursor: pointer;
    box-shadow: none;
}

.noUi-horizontal .noUi-handle::before {
    display: none;
}

.noUi-horizontal .noUi-handle::after {
    display: none;
}

.noUi-tooltip {
    display: block;
    position: absolute;
    border: none;
    border-radius: 0;
    background: transparent;
    color: #000;
    padding: 0px;
    text-align: center;
    white-space: nowrap;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #45515f;
}

/***********slider-2 date**********/
.range__slider__date {
    margin: 0 0 50px 0;
    position: relative;
}

.range__slider__date::before {
    content: "";
    position: absolute;
    top: -12px;
    left: 0;
    width: 100%;
    height: 8px;
    background: url(../../../assets/images/hot/line-under.png) no-repeat;
    background-size: cover;
}

.range__slider__date .range__slider__date__values {
    position: relative;
}

.range__slider__date .range__slider__date__values::before {
    content: "3";
    position: absolute;
    left: 0;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #c0c2c5;
    top: 15px;
}

.range__slider__date .range__slider__date__values::after {
    content: "30";
    position: absolute;
    right: 0;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #c0c2c5;
    top: 15px;
}

/****************calculate row*************/
.calculate__row {
    background: linear-gradient(336.96deg, #ececec -84.4%, rgba(236, 236, 236, 0) 129.87%, #ececec 129.87%);
    border-radius: 8px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 18px 70px;
}

@media screen and (max-width: 1050px) {
    .calculate__row {
        padding: 18px 30px;
    }
}

@media screen and (max-width: 991px) {
    .calculate__row {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 575px) {
    .calculate__row {
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: center;
        align-items: center;
    }
}

.calculate__item__title {
    font-weight: 300;
    font-size: 13px;
    line-height: 15px;
    color: #45515f;
    margin: 0 0 4px 0;
    text-align: center;
}

.tooltip {
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #ff9b44;
    text-align: center;
}

.calculate__item:not(.calculate__item:last-child) {
    position: relative;
    border-right: 1px solid #eaeaea;
    padding: 0 113px 0 0;
}

@media screen and (max-width: 1193px) {
    .calculate__item:not(.calculate__item:last-child) {
        padding: 0 83px 0 0;
    }
}

@media screen and (max-width: 1050px) {
    .calculate__item:not(.calculate__item:last-child) {
        padding: 0 53px 0 0;
    }
}

@media screen and (max-width: 991px) {
    .calculate__item:not(.calculate__item:last-child) {
        padding: 0;
        border-right: none;
    }
}

@media screen and (max-width: 575px) {
    .calculate__item:not(.calculate__item:last-child) {
        border: none;
    }
}

@media screen and (max-width: 991px) {
    .calculate__item {
        width: 50%;
        margin-bottom: 27px;
    }
}

@media screen and (max-width: 991px) {
    .calculate__item:last-child,
.calculate__item:nth-child(3) {
        margin-bottom: 0px;
        border-left: 1px solid #eaeaea;
    }
}

@media screen and (max-width: 575px) {
    .calculate__item:last-child,
.calculate__item:nth-child(3) {
        border: none;
    }
}

@media screen and (max-width: 991px) {
    .calculate__item:nth-child(2) {
        border-left: 1px solid #eaeaea;
    }
}

@media screen and (max-width: 991px) {
    .calculate__item:nth-child(3) {
        border: none;
    }
}

@media screen and (max-width: 575px) {
    .calculate__item:nth-child(3) {
        margin-bottom: 27px;
    }
}

/*****************inputs forms******************/
.form__inputs {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 12px 22px;
    margin: 0 0 27px 0;
}

.form__inputs__item {
    -ms-flex: 0 1 31.3%;
    flex: 0 1 31.3%;
}

@media screen and (max-width: 991px) {
    .form__inputs__item {
        -ms-flex: 0 1 47%;
        flex: 0 1 47%;
    }
}

@media screen and (max-width: 575px) {
    .form__inputs__item {
        -ms-flex: 0 1 100%;
        flex: 0 1 100%;
    }
}

.form__inputs__title {
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #45515f;
    margin: 0 0 8px 0;
}

.form__inputs input {
    padding: 18px 55px 18px;
    border: 1px solid #d3dae2;
    border-radius: 8px;
    width: 100%;
}

.form__inputs input:focus {
    border: 1px solid #ff7b00;
}

.js-input-1._error {
    border-color: red;
    background: url(../../assets/images/FORM/step1/krest.png) no-repeat;
    background-size: 10px 10px;
    background-position: 97% center;
}

.input__tel {
    position: relative;
}

.input__tel::after {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    background: url(../../assets/images/FORM/step1/tel.png) no-repeat;
    background-size: cover;
    left: 16px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.input__tel::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 18px;
    background: #eaeaea;
    left: 42px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.input__date {
    position: relative;
  /*меняем иконку календаря*/
}

.input__date::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 18px;
    background: #eaeaea;
    left: 42px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.input__date ::-webkit-calendar-picker-indicator {
    color: transparent;
    opacity: 1;
    position: absolute;
    width: 10px;
    height: 10px;
    background: url(../../assets/images/FORM/step1/date.png) no-repeat;
    background-size: cover;
    left: 16px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
}

input[type=date] {
    -webkit-appearance: none;
    background: transparent;
}

/********************check inputs*****************/
.form__all__in {
    display: -ms-flexbox;
    display: flex;
    gap: 13px;
    padding: 0 0 16px 0;
    border-bottom: 1px solid #f2f2f2;
}

.form__all__sheckbox input {
    display: none;
}

.form__all__sheckbox label {
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 1px solid #d3dae2;
    border-radius: 8px;
    position: relative;
}

.form__all__sheckbox label._error {
    border-color: red;
}

.form__all__sheckbox label::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: url(../../assets/images/FORM/step1/check.png) no-repeat;
    background-size: cover;
    opacity: 0;
    transition: 0.3s ease;
}

.form__all__sheckbox input:checked + label::before {
    opacity: 1;
}

.form__all__text {
    max-width: 617px;
    font-weight: 300;
    font-size: 13px;
    line-height: 15px;
    color: #45515f;
}

.form__all__text a {
    color: #45515f;
    text-decoration: underline;
}

/*****************sidebar********************/
.form__sidebar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 30px;
}

@media screen and (max-width: 991px) {
    .form__sidebar {
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

.form__sidebar__step {
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    color: #45515f;
}

.form__sidebar__step span {
    font-weight: 600;
}

.sidebar__line {
    width: 373px;
    height: 10px;
    background: #ececec;
    border-radius: 8px;
    margin: 0 0 7px 0;
    position: relative;
    transition: 0.5s ease;
}

@media screen and (max-width: 575px) {
    .sidebar__line {
        width: 260px;
        margin: 0 auto 7px auto;
    }
}

.sidebar__line::before {
    content: "";
    position: absolute;
    width: 98%;
    height: 12px;
    background: url(../../assets/images/FORM/step1/line.png) no-repeat;
    background-size: cover;
    top: -15px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    transition: 0.5s ease;
}

.sidebar__line::after {
    content: "";
    position: absolute;
    width: 16%;
    height: 10px;
    background: linear-gradient(81.55deg, #ffc83e 33.93%, #ff9f47 73.78%);
    border-radius: 8px 0px 0px 8px;
    transition: 0.5s ease;
}

.sidebar__line._count1::after {
    width: 35%;
}

.sidebar__line._count2::after {
    width: 45%;
}

.sidebar__line._count3::after {
    width: 65%;
}

.sidebar__line._count4::after {
    width: 75%;
}

.sidebar__line._count5::after {
    width: 85%;
}

.sidebar__line._count6::after {
    width: 100%;
}

.sidebar__text {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 21px 44px;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #ffffff;
    background: linear-gradient(81.55deg, #ffc83e 33.93%, #ff7347 73.78%);
    border-radius: 8px;
    transition: 0.3s ease;
}

.btn:hover {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
    color: white;
    text-shadow: 2px 2px 5px white;
}

.btn-step2,
.btn-step6,
.btn-step3,
.btn-step5,
.btn-step4 {
    display: none;
}

input[type=number] {
    -moz-appearance: textfield;
}

.form__step__2 {
    opacity: 0;
    visibility: hidden;
    height: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: center;
    transform-origin: center;
    margin: 0 0 20px 0;
    transition: 1.2s ease;
}

.form__step__2._open {
    opacity: 1;
    visibility: visible;
    height: 100%;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.form__step__2._close {
    opacity: 0;
    visibility: hidden;
    height: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.form__step2__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #45515f;
    margin: 0 0 10px 0;
}

.form__step2__text {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #45515f;
    margin: 0 0 37px 0;
}

.form__step2__text span {
    color: #ffc83e;
    font-weight: 600;
}

.form__action {
    width: 100%;
    height: 1px;
    background: #f2f2f2;
    position: relative;
}

.form__action::before {
    content: "";
    position: absolute;
    width: 30%;
    height: 1px;
    background: linear-gradient(81.55deg, #ffc83e 33.93%, #ff9f47 73.78%);
    top: 0;
    left: 0;
}

.form__step2__title-mini {
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    color: #45515f;
    margin: 0 0 27px 0;
}

/*acordeon-styles*/
.accordion__header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    gap: 16px;
    padding: 20px 20px 20px 0;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    color: #45515f;
    border-bottom: 1px solid #f2f2f2;
    cursor: pointer;
}

.accordion__header::after {
    width: 10px;
    height: 6px;
    background: url(../../assets/images/FORM/step2/arrow.png) center no-repeat;
    background-size: 10px 6px;
    content: "";
    transition: -webkit-transform 0.2s ease-out;
    transition: transform 0.2s ease-out;
    transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
}

@media screen and (max-width: 409px) {
    .accordion__header {
        font-size: 11px;
    }
}

.accordion__item_show .accordion__header::after,
.accordion__item_slidedown .accordion__header::after {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.accordion__item_slidedown .accordion__header,
.accordion__item_show .accordion__header {
    border: none;
}

/*.accordion__header:hover {
  background-color: #6d6d6d25;
}
*/
.accordion__content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    background: #fff;
    padding: 0 0 24px 0;
    border-bottom: 1px solid #f2f2f2;
}

.accordion__item:not(.accordion__item_show) .accordion__body {
    display: none;
}

.accordeon__header__info {
    display: -ms-flexbox;
    display: flex;
    gap: 4px;
    margin-left: auto;
}

.accordeon__header__info .acordeon__header__info-1 {
    padding: 8px 11px;
    background: linear-gradient(81.55deg, #ffc83e 33.93%, #ff7347 73.78%);
    border-radius: 5.65568px;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    text-transform: uppercase;
    color: #ffffff;
}

.accordeon__header__info .acordeon__header__info-2 {
    text-align: center;
    padding: 8px 8px;
    border: 1px solid #ff7448;
    border-radius: 8px;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    text-transform: uppercase;
    color: #45515f;
}

/*inputs in acorderon*/
.step2__item__row {
    display: -ms-flexbox;
    display: flex;
    gap: 35px;
}

.step2__item__row .step2__item {
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
}

.step2__item__title {
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #45515f;
    margin: 0 0 8px 0;
}

.step2__item:not(.step2__item:last-child) {
    margin-bottom: 15px;
}

.step2__item input {
    width: 100%;
    border: 1px solid #d3dae2;
    border-radius: 8px;
    padding: 16px 20px;
}

.form__step__3 {
    background: linear-gradient(149.57deg, #ff7b00 4.98%, #ffc83e 88.34%);
    border-radius: 22px;
    padding: 2px;
    max-width: 768px;
    margin: 0 auto 10px auto;
    opacity: 0;
    height: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
    visibility: hidden;
    transition: 1.2s ease;
}

.form__step__3._open {
    opacity: 1;
    height: 100%;
    visibility: visible;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.step3__border {
    background: white;
    padding: 50px 50px 30px 50px;
    -webkit-filter: drop-shadow(0px 4px 44px rgba(130, 141, 150, 0.15));
    filter: drop-shadow(0px 4px 44px rgba(130, 141, 150, 0.15));
    border-radius: 22px;
}

@media screen and (max-width: 575px) {
    .step3__border {
        padding: 30px 20px 30px 20px;
    }
}

.step__3__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #45515f;
    margin: 0 0 10px 0;
}

.step__3__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #45515f;
    margin: 0 0 10px 0;
}

.step__3__info {
    max-width: 636px;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #45515f;
    margin: 0 auto 8px auto;
}

.step__3__side {
    height: 1px;
    width: 100%;
    background: #f2f2f2;
}

.step__3__image {
    margin: 0 0 19px 0;
    position: relative;
}

.step__3__image img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

.loading__circle {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.loading {
    width: 0;
    padding: 34px;
    background-image: radial-gradient(circle at 0% 0%, transparent 40%, #ffc83e 40%, #ffc83e 70%, transparent 70%), radial-gradient(circle at 100% 0%, transparent 40%, white 40%, white 70%, transparent 70%), radial-gradient(circle at 100% 100%, transparent 40%, white 40%, white 70%, transparent 70%), radial-gradient(circle at 0% 100%, transparent 40%, white 40%, white 70%, transparent 70%);
    background-repeat: no-repeat;
    background-size: 50% 50%;
    background-position: 100% 100%, 0 100%, 0 0, 100% 0;
    -webkit-animation: loading1 linear 0.7s infinite;
    animation: loading1 linear 0.7s infinite;
}

@media screen and (max-width: 575px) {
    .loading {
        padding: 22px;
    }
}

@-webkit-keyframes loading1 {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes loading1 {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.form__step__4 {
    height: 0;
    visibility: hidden;
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
    transition: 1.2s ease;
}

.form__step__4._open {
    height: 100%;
    visibility: visible;
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

.step__4__side {
    height: 1px;
    width: 100%;
    background: #f2f2f2;
    margin: 0 0 26px 0;
}

.step4__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #45515f;
    max-width: 467px;
    margin: 0 auto 20px auto;
}

.step4__text span {
    display: block;
}

.sted4__info {
    padding: 16px 10px;
    background: linear-gradient(8.14deg, #ececec -151.99%, rgba(236, 236, 236, 0) 189.44%);
    border-radius: 8px;
    margin: 0 0 34px 0;
}

.sted4__info p {
    margin: 0 auto;
    max-width: 561px;
    text-align: center;
}

.step4__bank__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #45515f;
    margin: 0 0 26px 0;
}

/*bank form*/
.bank__form__item__1 {
    background: #ffffff;
    border: 2px solid #ececec;
    border-radius: 8px;
    max-width: 415px;
    padding: 20px 70px 20px 20px;
}

.bank__form__item__1 input {
    background: #fdfdfd;
    border: 2px solid #ececec;
    border-radius: 8px;
    padding: 14px 14px 14px 24px;
    width: 100%;
    margin: 0 0 11px 0;
}

.bank__form__item__1 .name-class {
    margin: 0;
}

@media screen and (max-width: 344px) {
    .bank__form__item__1 {
        padding: 20px 42px 20px 20px;
    }
}

.bank__form__title {
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #45515f;
    margin: 0 0 7px 0;
}

.bank__form__date__rom {
    display: -ms-flexbox;
    display: flex;
    gap: 9px;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 0 11px 0;
    position: relative;
}

.bank__form__date__rom input {
    -ms-flex: 0 1 15%;
    flex: 0 1 15%;
    padding: 12px;
    margin: 0;
}

@media screen and (max-width: 507px) {
    .bank__form__date__rom input {
        -ms-flex: 0 1 35%;
        flex: 0 1 35%;
    }
}

.bank__form__date__rom::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 130px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 19px;
    height: 19px;
    background: url(../../assets/images/FORM/step4/what.png) no-repeat;
    background-size: cover;
}

@media screen and (max-width: 507px) {
    .bank__form__date__rom::before {
        left: auto;
        right: -15px;
    }
}

/*number-cart*/
.number__cart {
    position: relative;
    margin: 0 0 7px 0;
}

.number__cart input {
    margin: 0;
}

.number__cart::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 12px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 11px;
    height: 8px;
    background: url(../../assets/images/FORM/step4/cart.png) no-repeat;
    background-size: cover;
}

.number__cart::before {
    content: "";
    position: absolute;
    top: 50%;
    right: -33px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 19px;
    height: 19px;
    background: url(../../assets/images/FORM/step4/what.png) no-repeat;
    background-size: cover;
}

.name__cart {
    position: relative;
    margin: 0 0 7px 0;
}

.name__cart input {
    margin: 0;
}

.name__cart::before {
    content: "";
    position: absolute;
    top: 50%;
    right: -33px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 19px;
    height: 19px;
    background: url(../../assets/images/FORM/step4/what.png) no-repeat;
    background-size: cover;
}

.bamk__form__item__2 {
    background: #ffffff;
    border: 2px solid #ececec;
    border-radius: 0px 8px 8px 0px;
    max-width: 250px;
    padding: 82px 140px 40px 15px;
    position: relative;
}

.bamk__form__item__2::before {
    content: "";
    position: absolute;
    left: 0;
    top: 34px;
    height: 33px;
    width: 100%;
    background: #ececec;
}

.bamk__form__item__2 input {
    width: 50px;
    padding: 5px;
    background: #fdfdfd;
    border: 2px solid #ececec;
    border-radius: 8px;
    padding: 12px;
}

@media screen and (max-width: 775px) {
    .bamk__form__item__2 {
        border-radius: 8px;
        width: 100%;
    }
}

.bank__form__row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 0 19px 0;
}

@media screen and (max-width: 775px) {
    .bank__form__row {
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 5px;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
}

.form__step__5 {
    max-width: 768px;
    margin: 0 auto;
    height: 0;
    visibility: hidden;
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
    transition: 1.2s ease;
}

.form__step__5 input {
    width: 100%;
    border: 1px solid #d3dae2;
    border-radius: 8px;
    padding: 15px 26px;
    margin: 0 0 27px 0;
}

.form__step__5 .step__5__counter {
    margin: 0 0 27px 0;
}

.form__step__5._open {
    height: 100%;
    visibility: visible;
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

.form__step__6 {
    height: 0;
    visibility: hidden;
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
    transition: 1.2s ease;
}

.form__step__6._open {
    height: 100%;
    visibility: visible;
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

.step__6__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #45515f;
    margin: 0 0 34px 0;
}

.step__6__item {
    padding: 13px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    gap: 8px;
    border: 1px solid #e6dede;
    border-radius: 8px;
    max-width: 181px;
}

@media screen and (max-width: 436px) {
    .step__6__item {
        max-width: 150px;
    }
}

.step__6__chek__row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 10px;
    margin: 0 0 45px 0;
}

.step__6__item__title img {
    max-width: 100%;
}

.step__6__input input {
    display: none;
}

.step__6__input input:checked + label::after {
    opacity: 1;
}

.step__6__input label {
    display: block;
    position: relative;
    height: 23px;
    width: 24px;
    border-radius: 6px;
    border: 1px solid #ff7b00;
}

.step__6__input label::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: url(../../assets/images/FORM/step1/check.png) no-repeat;
    background-size: cover;
    opacity: 0;
    transition: 0.3s ease;
}

/*ways*/
.ways {
    padding: 55px 0 46px 0;
}

@media screen and (max-width: 575px) {
    .ways {
        padding: 35px 0 42px 0;
    }
}

.ways__title {
    margin: 0 0 14px 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

.ways__info {
    font-weight: 300;
    font-size: 13px;
    line-height: 145.5%;
    margin: 0 0 44px 0;
    text-align: center;
}

.ways__row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 35px;
    margin: 0 0 31px 0;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

@media screen and (max-width: 575px) {
    .ways__row {
        gap: 25px;
    }
}

.ways__item {
    background: #f6f9fc;
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    border-radius: 22px;
    padding: 29px 20px 15px 20px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    gap: 17px;
    min-width: 140px;
}

.ways__item:first-child {
    -webkit-animation-name: ways-item-one;
    animation-name: ways-item-one;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.ways__item:nth-child(2) {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    -webkit-animation-name: ways-item-one;
    animation-name: ways-item-one;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.ways__item:nth-child(3) {
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    -webkit-animation-name: ways-item-one;
    animation-name: ways-item-one;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.ways__item:nth-child(4) {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-name: ways-item-one;
    animation-name: ways-item-one;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.ways__item:nth-child(5) {
    -webkit-animation-delay: 1, 2s;
    animation-delay: 1, 2s;
    -webkit-animation-name: ways-item-one;
    animation-name: ways-item-one;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.ways__item:hover {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}

.ways__item__image {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.ways__item__image img {
    max-width: 100%;
}

.ways__item__link {
    display: block;
    width: 65px;
    text-align: center;
    transition: 0.3s ease;
}

.ways__item__link:hover {
    -webkit-transform: translate(5px, 0);
    transform: translate(5px, 0);
}

@-webkit-keyframes ways-item-one {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes ways-item-one {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.form__step__7 {
    max-width: 768px;
    margin: 0 auto 37px auto;
    height: 0;
    visibility: hidden;
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
    transition: 1.2s ease;
}

.form__step__7._open {
    height: 100%;
    visibility: visible;
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

.form__step__7 .step3__border {
    border: 2px solid #ff9f47;
}

.form__step__8 {
    max-width: 500px;
    margin: 0 auto;
    height: 0;
    visibility: hidden;
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
    transition: 1.2s ease;
}

.form__step__8 .step__3__side {
    margin: 0 0 30px 0;
}

.form__step__8 .step__3__title {
    margin: 0 0 30px 0;
}

.form__step__8 .step__3__text {
    margin: 0 0 30px 0;
}

.form__step__8._open {
    height: 100%;
    visibility: visible;
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

.form__step__8 .step3__border {
    border: 2px solid #ff9f47;
}

.form__step8__link {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}

@media screen and (max-width: 991px) {
    .form__step8__link .btn-link__step8 {
        padding: 21px 16px;
        font-size: 15px;
        text-align: center;
    }
}