@charset "UTF-8";

.weare__buttons, .swiper .swiper-slide, .ways__link, .ways__item__image, .momey__btn, .money__item__image svg, .money__item__image, .money__item::before {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}

.hot {
    padding: 150px 0 67px 0;
    background: url(../../assets/images/hot/hot-bg.jpg) no-repeat;
    background-size: cover;
}

@media screen and (max-width: 1220px) {
    .hot {
        padding: 150px 0 21px 0;
    }
}

@media screen and (max-width: 868px) {
    .hot {
        background-position: -800px 0;
    }
}

@media screen and (max-width: 575px) {
    .hot {
        padding: 106px 0 21px 0;
    }
}

.hot__container {
    position: relative;
}

.hot__container .hot__image {
    position: absolute;
    bottom: -67px;
    left: 50%;
    -webkit-transform: translateX(-53%);
    transform: translateX(-53%);
    pointer-events: none;
}

@media screen and (max-width: 1300px) {
    .hot__container .hot__image {
        max-width: 550px;
        -webkit-transform: translateX(-55%);
        transform: translateX(-55%);
    }
}

@media screen and (max-width: 1238px) {
    .hot__container .hot__image {
        max-width: 550px;
        -webkit-transform: translateX(-57%);
        transform: translateX(-57%);
    }
}

@media screen and (max-width: 1220px) {
    .hot__container .hot__image {
        bottom: -21px;
        left: 350px;
    }
}

@media screen and (max-width: 970px) {
    .hot__container .hot__image {
        left: 250px;
    }
}

@media screen and (max-width: 868px) {
    .hot__container .hot__image {
        display: none;
    }
}

.hot__row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    gap: 15px;
}

@media screen and (max-width: 1220px) {
    .hot__row {
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

.hot__info {
    color: #ffffff;
}

@media screen and (max-width: 1220px) {
    .hot__info {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: center;
        align-items: center;
    }
}

.hot__info__head {
    display: inline-block;
    position: relative;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;
    padding: 15px 23px 15px 75px;
    margin: 0 0 20px 0;
    background: rgba(255, 255, 255, 0.95);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    border-radius: 12px;
    color: #3c4260;
}

.hot__info__head::before {
    content: "";
    position: absolute;
    width: 56px;
    height: 56px;
    bottom: 10px;
    left: 8px;
    background: url(../../assets/images/hot/fire.png) no-repeat;
    -webkit-animation-name: arrow_scroll;
    animation-name: arrow_scroll;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@media screen and (max-width: 1220px) {
    .hot__info__head {
        margin: 0 0 25px 0;
    }
}

@media screen and (max-width: 575px) {
    .hot__info__head {
        font-size: 20px;
        line-height: 24px;
        margin: 0 0 37px 0;
    }
}

@media screen and (max-width: 386px) {
    .hot__info__head {
        font-size: 17px;
    }
}

@media screen and (max-width: 350px) {
    .hot__info__head {
        font-size: 14.5px;
    }
}

@-webkit-keyframes arrow_scroll {
    0% {
        top: 0;
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }

    50% {
        top: -10px;
        -webkit-transform: scale(1) rotate(-15deg);
        transform: scale(1) rotate(-15deg);
    }

    100% {
        top: 0px;
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
}

@keyframes arrow_scroll {
    0% {
        top: 0;
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }

    50% {
        top: -10px;
        -webkit-transform: scale(1) rotate(-15deg);
        transform: scale(1) rotate(-15deg);
    }

    100% {
        top: 0px;
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
}

.hot__info__title {
    font-weight: 600;
    font-size: 48px;
    line-height: 111.5%;
    text-transform: uppercase;
    max-width: 477px;
    margin: 0 0 15px 0;
}

@media screen and (max-width: 1220px) {
    .hot__info__title {
        text-align: center;
        max-width: 100%;
        margin: 0 0 5px 0;
    }
}

@media screen and (max-width: 575px) {
    .hot__info__title {
        font-size: 36px;
        line-height: 111.5%;
        margin: 0 0 18px 0;
    }
}

.hot__info__text {
    font-weight: 400;
    font-size: 27px;
    line-height: 133.5%;
    max-width: 477px;
    margin: 0 0 110px 0;
}

@media screen and (max-width: 1220px) {
    .hot__info__text {
        text-align: center;
        max-width: 100%;
        margin: 0 0 10px 0;
    }
}

@media screen and (max-width: 575px) {
    .hot__info__text {
        font-size: 20px;
        line-height: 133.5%;
        margin: 0 0 18px 0;
    }
}

.hot__info__copyright {
    font-size: 14px;
    line-height: 145.5%;
    max-width: 300px;
}

@media screen and (max-width: 1220px) {
    .hot__info__copyright {
        text-align: center;
        max-width: 100%;
        margin: 0 0 37px 0;
    }
}

/**************FORM***************/
.hot__calculate {
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 4px 44px rgba(0, 0, 0, 0.05);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    border-radius: 15px;
    padding: 29px 57px 59px 57px;
}

@media screen and (max-width: 1220px) {
    .hot__calculate {
        -ms-flex-item-align: start;
        align-self: flex-start;
        margin-left: 450px;
    }
}

@media screen and (max-width: 868px) {
    .hot__calculate {
        -ms-flex-item-align: center;
        align-self: center;
        margin-left: 0px;
    }
}

.form__title {
    display: inline-block;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #45515f;
    margin: 0 0 46px 0;
}

/************slider-1 sum****************/
.form__title__border {
    border-top: 1px solid rgba(236, 236, 236, 0.4745098039);
    padding: 21px 0 0 0;
    width: 100%;
}

.range__slider__sum {
    margin: 0 0 50px 0;
    position: relative;
}

.range__slider__sum::before {
    content: "";
    position: absolute;
    top: -12px;
    left: 0;
    width: 100%;
    height: 8px;
    background: url(../../../assets/images/hot/line-under.png) no-repeat;
    background-size: cover;
}

.range__slider__sum .range__slider__sum__values {
    position: relative;
}

.range__slider__sum .range__slider__sum__values::before {
    content: "1 000 ₽";
    position: absolute;
    left: 0;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #c0c2c5;
    top: 15px;
}

.range__slider__sum .range__slider__sum__values::after {
    content: "100 000 ₽";
    position: absolute;
    right: 0;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #c0c2c5;
    top: 15px;
}

.noUi-target {
    background: #ececec;
    border-radius: 8px;
    border: none;
    box-shadow: none;
    height: 7px;
    cursor: pointer;
}

.noUi-connect {
    background: linear-gradient(81.55deg, #ffc83e 33.93%, #ff9f47 73.78%);
}

.noUi-horizontal .noUi-handle {
    width: 21px;
    height: 21px;
    border: none;
    border-radius: 50%;
    background: url(../../assets/images/hot/arrow-input.png) center no-repeat;
    background-size: cover;
    cursor: pointer;
    box-shadow: none;
}

.noUi-horizontal .noUi-handle::before {
    display: none;
}

.noUi-horizontal .noUi-handle::after {
    display: none;
}

.noUi-tooltip {
    display: block;
    position: absolute;
    border: none;
    border-radius: 0;
    background: transparent;
    color: #000;
    padding: 0px;
    text-align: center;
    white-space: nowrap;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #45515f;
}

/***********slider-2 date**********/
.range__slider__date {
    margin: 0 0 50px 0;
    position: relative;
}

.range__slider__date::before {
    content: "";
    position: absolute;
    top: -12px;
    left: 0;
    width: 100%;
    height: 8px;
    background: url(../../../assets/images/hot/line-under.png) no-repeat;
    background-size: cover;
}

.range__slider__date .range__slider__date__values {
    position: relative;
}

.range__slider__date .range__slider__date__values::before {
    content: "3";
    position: absolute;
    left: 0;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #c0c2c5;
    top: 15px;
}

.range__slider__date .range__slider__date__values::after {
    content: "30";
    position: absolute;
    right: 0;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #c0c2c5;
    top: 15px;
}

/***************************************/
.calculate__form__button {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 0 28px 0;
    border-bottom: 1px solid rgba(236, 236, 236, 0.4745098039);
}

.calculate__form__button .calculate__btn {
    display: inline-block;
    padding: 21px 44px;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #ffffff;
    background: linear-gradient(81.55deg, #ffc83e 33.93%, #ff7347 73.78%);
    border-radius: 8px;
    transition: 0.3s ease;
}

.calculate__form__button .calculate__btn:hover {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
    color: white;
    text-shadow: 2px 2px 5px white;
}

@media screen and (max-width: 575px) {
    .calculate__form__button .calculate__btn {
        padding: 21px 36px;
        font-size: 15px;
    }
}

@media screen and (max-width: 400px) {
    .calculate__form__button .calculate__btn {
        padding: 21px 5px;
        width: 100%;
        font-size: 13px;
    }
}

/********************calculate***********************/
.calculate__item__title {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #45515f;
    margin: 0 0 2px 0;
}

.calculate__row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
    row-gap: 44px;
    padding: 34px 0 0 0;
}

.calculate__row .calculate__item {
    width: 50%;
    position: relative;
}

@media screen and (max-width: 400px) {
    .calculate__row .calculate__item {
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .calculate__row {
        gap: 35px;
        padding: 20px 0 0 0;
    }
}

.tooltip {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #f28925;
    position: absolute;
    bottom: -23px;
}

.propozicion {
    background: #f6f9fc;
    padding: 49px 0 44px 0;
}

.propozicion .propozicion__container {
    border-bottom: 1px solid rgba(69, 81, 95, 0.05);
}

@media screen and (max-width: 991px) {
    .propozicion .propozicion__container {
        border: none;
    }
}

@media screen and (max-width: 991px) {
    .propozicion {
        padding: 50px 0 70px 0;
    }
}

@media screen and (max-width: 575px) {
    .propozicion {
        padding: 39px 0 50px 0;
    }
}

.title {
    font-weight: 600;
    font-size: 38px;
    line-height: 45px;
    color: #45515f;
    text-align: center;
}

.propozicion__title {
    margin: 0 0 36px 0;
}

@media screen and (max-width: 575px) {
    .propozicion__title {
        margin: 0 0 31px 0;
    }
}

.propozicion__row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 15px;
    margin: 0 0 33px 0;
}

@media screen and (max-width: 1266px) {
    .propozicion__row {
        -ms-flex-pack: center;
        justify-content: center;
        gap: 30px;
    }
}

@media screen and (max-width: 991px) {
    .propozicion__row {
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

@media screen and (max-width: 575px) {
    .propozicion__row {
        margin: 0 0 25px 0;
    }
}

.propozicion__item {
    padding: 36px 70px;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0px 4px 44px rgba(84, 104, 123, 0.05);
    border-radius: 22px;
    position: relative;
    overflow: hidden;
}

@media screen and (max-width: 404px) {
    .propozicion__item {
        padding: 36px 45px;
    }
}

@media screen and (max-width: 366px) {
    .propozicion__item {
        padding: 36px 20px 36px 35px;
    }
}

.propozicion__item .propozicion__item__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    margin: 0 0 14px 0;
}

@media screen and (max-width: 575px) {
    .propozicion__item .propozicion__item__title {
        font-size: 23px;
    }
}

.propozicion__item .item__title__one span {
    color: #ffc83e;
}

.propozicion__item .item__title__two span {
    color: #ff7b00;
}

.propozicion__item .item__title__three span {
    color: #fa5914;
}

.propozicion__item .propozicion__item__line {
    font-weight: 500;
    font-size: 14px;
    line-height: 182%;
    text-align: center;
    text-transform: uppercase;
    color: white;
    position: absolute;
    top: 18px;
    left: -70px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: 200px;
    box-shadow: 0px 4px 44px rgba(84, 104, 123, 0.05);
    overflow: hidden;
}

.propozicion__item .propozicion__item__line::before {
    content: "";
    position: absolute;
    width: 34px;
    height: 25px;
    -webkit-transform: rotate(-45deg) skewX(45deg) translate(0, -40px);
    transform: rotate(-45deg) skewX(45deg) translate(0, -40px);
    background: rgba(255, 255, 255, 0.253);
    box-shadow: 0px 4px 44px rgba(84, 104, 123, 0.05);
    -webkit-backdrop-filter: blur(0.1px);
    backdrop-filter: blur(0.1px);
    -webkit-animation-name: blick;
    animation-name: blick;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes blick {
    0% {
        -webkit-transform: rotate(-45deg) skewX(45deg) translate(0, -40px);
        transform: rotate(-45deg) skewX(45deg) translate(0, -40px);
    }

    100% {
        -webkit-transform: rotate(-45deg) skewX(45deg) translate(0, 80px);
        transform: rotate(-45deg) skewX(45deg) translate(0, 80px);
    }
}

@keyframes blick {
    0% {
        -webkit-transform: rotate(-45deg) skewX(45deg) translate(0, -40px);
        transform: rotate(-45deg) skewX(45deg) translate(0, -40px);
    }

    100% {
        -webkit-transform: rotate(-45deg) skewX(45deg) translate(0, 80px);
        transform: rotate(-45deg) skewX(45deg) translate(0, 80px);
    }
}

.propozicion__item .item__line__one {
    background: #ffc83e;
}

.propozicion__item .item__line__two {
    background: #ff7b00;
}

.propozicion__item .item__line__three {
    background: #fa5914;
}

.propozicion__item .propozicion__item__text {
    padding: 0 0 0 22px;
    font-weight: 300;
    font-size: 15px;
    line-height: 182%;
    position: relative;
}

@media screen and (max-width: 332px) {
    .propozicion__item .propozicion__item__text {
        font-size: 13px;
    }
}

.propozicion__item .propozicion__item__text span {
    font-weight: 500;
    color: #45515f;
}

.propozicion__item .propozicion__item__text:first-of-type:before {
    content: "";
    position: absolute;
    left: 2px;
    top: 6px;
    width: 12px;
    height: 11px;
    background: url(../../assets/images/prop/calendar.png) no-repeat;
    background-size: cover;
}

.propozicion__item .propozicion__item__text:last-of-type:before {
    content: "";
    position: absolute;
    left: 2px;
    top: 6px;
    width: 9px;
    height: 10px;
    background: url(../../assets/images/prop/money.png) no-repeat;
    background-size: cover;
}

.propozicion__copyright {
    font-weight: 300;
    font-size: 13px;
    line-height: 145.5%;
    color: #45515f;
    text-align: center;
    margin: 0 0 51px 0;
}

@media screen and (max-width: 991px) {
    .propozicion__copyright {
        margin: 0;
    }
}

.money {
    padding: 0 0 45px 0;
    background: #f6f9fc;
}

.money__title {
    margin: 0 0 50px 0;
}

.money__row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 107px;
    position: relative;
    margin: 0 0 44px 0;
}

.money__row::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 7px;
    background: #ffffff;
    border-radius: 8px;
    top: 55%;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
}

@media screen and (max-width: 991px) {
    .money__row::before {
        height: 100%;
        width: 7px;
        left: 39.5%;
        top: -15px;
        -webkit-transform: translateY(0) translateX(-50%);
        transform: translateY(0) translateX(-50%);
    }
}

@media screen and (max-width: 340px) {
    .money__row::before {
        left: 38.5%;
    }
}

.money__row::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 7px;
    background: linear-gradient(81.55deg, #ffc83e 33.93%, #ff9f47 73.78%);
    border-radius: 8px;
    top: 55%;
    left: 0;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
    z-index: 1;
    -webkit-animation-name: animated-line;
    animation-name: animated-line;
    -webkit-animation-duration: 12s;
    animation-duration: 12s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@media screen and (max-width: 991px) {
    .money__row::after {
        height: 0;
        width: 7px;
        left: 39.5%;
        top: -15px;
        -webkit-transform: translateY(0) translateX(-47%);
        transform: translateY(0) translateX(-47%);
        -webkit-animation-duration: 10s;
        animation-duration: 10s;
        -webkit-animation-name: animated-line-tablet;
        animation-name: animated-line-tablet;
    }
}

@media screen and (max-width: 340px) {
    .money__row::after {
        left: 38.5%;
    }
}

@media screen and (max-width: 991px) {
    .money__row {
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: center;
        align-items: center;
        gap: 78px;
        max-width: 310px;
        margin: 0 auto 44px auto;
    }
}

.money__item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    gap: 90px;
    position: relative;
}

.money__item::before {
    content: "1";
    font-weight: 500;
    font-size: 16px;
    line-height: 145.5%;
    color: #d6d3d3;
    position: absolute;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: #ffffff;
    top: 58%;
    left: 45%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 2;
}

@media screen and (max-width: 991px) {
    .money__item::before {
        top: 49%;
        left: 37%;
    }
}

@media screen and (max-width: 991px) {
    .money__item {
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-pack: justify;
        justify-content: space-between;
        gap: 57px;
    }
}

.money__item:nth-child(1):before {
    -webkit-animation-name: anim-circle-one;
    animation-name: anim-circle-one;
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
    -webkit-animation-duration: 0.7s;
    animation-duration: 0.7s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@media screen and (max-width: 991px) {
    .money__item:nth-child(1):before {
        -webkit-animation-delay: 0.8s;
        animation-delay: 0.8s;
    }
}

.money__item:nth-child(2):before {
    content: "2";
    left: 42%;
    -webkit-animation-name: anim-circle-two;
    animation-name: anim-circle-two;
    -webkit-animation-delay: 3.5s;
    animation-delay: 3.5s;
    -webkit-animation-duration: 0.7s;
    animation-duration: 0.7s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@media screen and (max-width: 991px) {
    .money__item:nth-child(2):before {
        top: 45%;
        left: 37%;
    }
}

.money__item:nth-child(3):before {
    content: "3";
    left: 46%;
    -webkit-animation-name: anim-circle-three;
    animation-name: anim-circle-three;
    -webkit-animation-delay: 6.3s;
    animation-delay: 6.3s;
    -webkit-animation-duration: 0.7s;
    animation-duration: 0.7s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@media screen and (max-width: 991px) {
    .money__item:nth-child(3):before {
        top: 45%;
        left: 37%;
    }
}

.money__item:nth-child(4):before {
    content: "4";
    left: 49%;
    -webkit-animation-name: anim-circle-fourth;
    animation-name: anim-circle-fourth;
    -webkit-animation-delay: 9.8s;
    animation-delay: 9.8s;
    -webkit-animation-duration: 0.7s;
    animation-duration: 0.7s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@media screen and (max-width: 991px) {
    .money__item:nth-child(4):before {
        top: 45%;
        left: 37%;
        -webkit-animation-delay: 9s;
        animation-delay: 9s;
    }
}

.money__item:nth-child(1) svg {
    -webkit-animation-name: anim-svg-one;
    animation-name: anim-svg-one;
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@media screen and (max-width: 991px) {
    .money__item:nth-child(1) svg {
        -webkit-animation-delay: 0.8s;
        animation-delay: 0.8s;
    }
}

.money__item:nth-child(2) svg {
    -webkit-animation-name: anim-svg-one;
    animation-name: anim-svg-one;
    -webkit-animation-delay: 3.5s;
    animation-delay: 3.5s;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.money__item:nth-child(3) svg {
    -webkit-animation-name: anim-svg-one;
    animation-name: anim-svg-one;
    -webkit-animation-delay: 6.3s;
    animation-delay: 6.3s;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.money__item:nth-child(4) svg {
    -webkit-animation-name: anim-svg-one;
    animation-name: anim-svg-one;
    -webkit-animation-delay: 9.8s;
    animation-delay: 9.8s;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@media screen and (max-width: 991px) {
    .money__item:nth-child(4) svg {
        -webkit-animation-delay: 9s;
        animation-delay: 9s;
    }
}

.money__item__title {
    max-width: 248px;
    text-align: center;
    height: auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

@media screen and (max-width: 991px) {
    .money__item__title {
        max-width: 130px;
        text-align: start;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
    }
}

.item__title__min {
    max-width: 135px;
}

.money__item__image svg {
    width: 70px;
    height: 80px;
    fill: #cfd5dd;
}

.btn {
    display: inline-block;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #ffffff;
    text-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
    padding: 21px 44px;
    background: linear-gradient(81.55deg, #ffc83e 33.93%, #ff7347 73.78%);
    border-radius: 8px;
    transition: 0.3s ease;
}

.btn:hover {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
    text-shadow: 2px 2px 5px white;
}

@-webkit-keyframes animated-line {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

@keyframes animated-line {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

@-webkit-keyframes animated-line-tablet {
    0% {
        height: 0%;
    }

    100% {
        height: 100%;
    }
}

@keyframes animated-line-tablet {
    0% {
        height: 0%;
    }

    100% {
        height: 100%;
    }
}

@-webkit-keyframes anim-circle-one {
    0% {
        background: #ffffff;
        color: #d6d3d3;
        fill: #cfd5dd;
    }

    100% {
        background: #ffa147;
        color: #ffffff;
        fill: #ffa147;
    }
}

@keyframes anim-circle-one {
    0% {
        background: #ffffff;
        color: #d6d3d3;
        fill: #cfd5dd;
    }

    100% {
        background: #ffa147;
        color: #ffffff;
        fill: #ffa147;
    }
}

@-webkit-keyframes anim-circle-two {
    0% {
        background: #ffffff;
        color: #d6d3d3;
    }

    100% {
        background: #ffa147;
        color: #ffffff;
    }
}

@keyframes anim-circle-two {
    0% {
        background: #ffffff;
        color: #d6d3d3;
    }

    100% {
        background: #ffa147;
        color: #ffffff;
    }
}

@-webkit-keyframes anim-circle-three {
    0% {
        background: #ffffff;
        color: #d6d3d3;
    }

    100% {
        background: #ffa147;
        color: #ffffff;
    }
}

@keyframes anim-circle-three {
    0% {
        background: #ffffff;
        color: #d6d3d3;
    }

    100% {
        background: #ffa147;
        color: #ffffff;
    }
}

@-webkit-keyframes anim-circle-fourth {
    0% {
        background: #ffffff;
        color: #d6d3d3;
    }

    100% {
        background: #ffa147;
        color: #ffffff;
    }
}

@keyframes anim-circle-fourth {
    0% {
        background: #ffffff;
        color: #d6d3d3;
    }

    100% {
        background: #ffa147;
        color: #ffffff;
    }
}

@-webkit-keyframes anim-svg-one {
    0% {
        fill: #cfd5dd;
    }

    100% {
        fill: #ffa147;
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}

@keyframes anim-svg-one {
    0% {
        fill: #cfd5dd;
    }

    100% {
        fill: #ffa147;
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}

.ways {
    padding: 55px 0 46px 0;
}

@media screen and (max-width: 575px) {
    .ways {
        padding: 35px 0 42px 0;
    }
}

.ways__title {
    margin: 0 0 14px 0;
}

.ways__info {
    font-weight: 300;
    font-size: 13px;
    line-height: 145.5%;
    margin: 0 0 44px 0;
    text-align: center;
}

.ways__row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 35px;
    margin: 0 0 31px 0;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

@media screen and (max-width: 575px) {
    .ways__row {
        gap: 25px;
    }
}

.ways__item {
    background: #f6f9fc;
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    border-radius: 22px;
    padding: 29px 20px 15px 20px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    gap: 17px;
    min-width: 140px;
}

.ways__item:first-child {
    -webkit-animation-name: ways-item-one;
    animation-name: ways-item-one;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.ways__item:nth-child(2) {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    -webkit-animation-name: ways-item-one;
    animation-name: ways-item-one;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.ways__item:nth-child(3) {
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    -webkit-animation-name: ways-item-one;
    animation-name: ways-item-one;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.ways__item:nth-child(4) {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-name: ways-item-one;
    animation-name: ways-item-one;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.ways__item:nth-child(5) {
    -webkit-animation-delay: 1, 2s;
    animation-delay: 1, 2s;
    -webkit-animation-name: ways-item-one;
    animation-name: ways-item-one;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.ways__item:hover {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}

.ways__item__image {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.ways__item__link {
    display: block;
    width: 65px;
    text-align: center;
    transition: 0.3s ease;
}

.ways__item__link:hover {
    -webkit-transform: translate(5px, 0);
    transform: translate(5px, 0);
}

@-webkit-keyframes ways-item-one {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes ways-item-one {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.weare {
    padding: 35px 0 38px 0;
    background: #f6f9fc;
}

.weare .weare__container {
    max-width: 1410px;
    padding: 0 45px;
    position: relative;
}

@media screen and (max-width: 575px) {
    .weare .weare__container {
        padding: 0 15px;
    }
}

.weare__title {
    margin: 0 0 13px 0;
}

@media screen and (max-width: 807px) {
    .weare__title {
        margin: 0 0 0px 0;
    }
}

@media screen and (max-width: 387px) {
    .weare__title {
        margin: 0 0 35px 0;
    }
}

.weare__item {
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0px 4px 44px rgba(84, 104, 123, 0.05);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    border-radius: 22px;
    padding: 51px 40px 46px 46px;
}

.weare__item__image {
    margin: 0 0 26px 0;
}

.weare__item__name {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #45515f;
    margin: 0 0 19px 0;
}

.weare__item__town {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #93a0ab;
    padding: 0 0 0 16px;
    margin: 0 0 19px 0;
    position: relative;
}

.weare__item__town:before {
    content: "";
    position: absolute;
    width: 12px;
    height: 16px;
    top: 0px;
    left: 0;
    background: url(../../../assets/images/weare/icon-town.png) no-repeat;
    background-size: cover;
}

.weare__item__text {
    margin: 0 0 27px 0;
}

.svg__yellow {
    fill: #feb300;
}

.swiper {
    height: 600px;
}

@media screen and (max-width: 575px) {
    .swiper {
        height: 550px;
    }
}

@media screen and (max-width: 397px) {
    .swiper {
        margin-bottom: 40px;
    }
}

/* кнопки за контейнером(в html выносим за контейнер свайпера)*/
.slider__buttons__cont {
    height: 50px;
    width: 100%;
    position: absolute;
    top: 50%;
}

.slider__buttons__cont .swiper-button-prev {
    top: auto;
    left: -40px;
}

@media screen and (max-width: 575px) {
    .slider__buttons__cont .swiper-button-prev {
        left: 0;
    }
}

.slider__buttons__cont .swiper-button-next {
    top: auto;
    right: 50px;
}

@media screen and (max-width: 575px) {
    .slider__buttons__cont .swiper-button-next {
        right: 35px;
    }
}

.slider__buttons__cont .swiper-button-next:after {
    color: rgba(0, 0, 0, 0.473);
    font-size: 25px;
}

.slider__buttons__cont .swiper-button-prev:after {
    color: rgba(0, 0, 0, 0.473);
    font-size: 25px;
}

.weare__buttons {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 10px;
}

.weare__link__all {
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #45515f;
    padding: 22px 32px;
    border: 1px solid #c9d2dd;
    border-radius: 8px;
    transition: 0.3s ease;
}

.weare__link__all:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    text-shadow: 0px 4px 12px rgba(0, 0, 0, 0.384);
}

.clients {
    padding: 55px 0 59px 0;
    background: url(../../assets/images/clients/bg-clients.jpg) no-repeat;
    background-size: cover;
}

@media screen and (max-width: 575px) {
    .clients {
        padding: 32px 0 34px 0;
    }
}

.clients__title {
    color: #ffffff;
    margin: 0 0 37px 0;
}

@media screen and (max-width: 575px) {
    .clients__title {
        margin: 0 0 29px 0;
    }
}

.clients__item {
    padding: 26px 36px 25px 42px;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0px 4px 44px rgba(84, 104, 123, 0.05);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    border-radius: 22px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 25px;
}

.clients__item svg {
    fill: #92a0ab;
    -webkit-animation-name: animated-clients-svg;
    animation-name: animated-clients-svg;
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.clients__item__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #45515f;
    margin: 0 0 6px 0;
}

.clients__item__text {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #536473;
    margin: 0 0 8px 0;
}

.clients__item__town {
    padding: 0 0 0 20px;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #93a0ab;
    position: relative;
}

.clients__item__town::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 12px;
    height: 16px;
    background: url(../../assets/images/clients/icon-town.png) no-repeat;
    background-size: cover;
}

.swiper2 {
    overflow: hidden;
}

@-webkit-keyframes animated-clients-svg {
    0% {
        fill: #92a0ab;
    }

    20% {
        fill: #92a0ab;
    }

    50% {
        fill: #ffad45;
    }

    80% {
        fill: #ffad45;
    }

    100% {
        fill: #92a0ab;
    }
}

@keyframes animated-clients-svg {
    0% {
        fill: #92a0ab;
    }

    20% {
        fill: #92a0ab;
    }

    50% {
        fill: #ffad45;
    }

    80% {
        fill: #ffad45;
    }

    100% {
        fill: #92a0ab;
    }
}

.about {
    padding: 56px 0 72px 0;
    background: rgba(255, 255, 255, 0.95);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
}

@media screen and (max-width: 575px) {
    .about {
        padding: 41px 0 26px 0;
    }
}

.about__title {
    margin: 0 0 43px 0;
}

@media screen and (max-width: 575px) {
    .about__title {
        margin: 0 0 30px 0;
    }
}

.about__row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 30px;
}

@media screen and (max-width: 991px) {
    .about__row {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: stretch;
        align-items: stretch;
    }
}

.about__item {
    max-width: 625px;
    padding: 44px;
    background: rgba(255, 255, 255, 0.95);
    border: 1px solid #f8ebeb;
    box-shadow: 0px 4px 44px rgba(84, 104, 123, 0.05);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    border-radius: 22px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

@media screen and (max-width: 991px) {
    .about__item {
        max-width: 100%;
    }
}

@media screen and (max-width: 575px) {
    .about__item {
        padding: 23px;
    }
}

.about__item__title {
    display: block;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: #45515f;
    margin: 0 0 31px 0;
    max-width: 399px;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

@media screen and (max-width: 991px) {
    .about__item__title {
        max-width: 100%;
    }
}

@media screen and (max-width: 575px) {
    .about__item__title {
        margin: 0 0 26px 0;
    }
}

.about__item__text p {
    margin: 0 0 15px 0;
    max-width: 532px;
}

@media screen and (max-width: 991px) {
    .about__item__text p {
        max-width: 100%;
    }
}

.about__item__text p:last-child {
    margin: 0;
}

.faq {
    background-color: #f6f9fc;
    padding: 33px 0 35px 0;
}

.faq__list {
    margin-top: 29px;
}

.faq__item {
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0px 4px 44px rgba(84, 104, 123, 0.05);
    border-radius: 12px;
    padding: 25px 18px;
    position: relative;
    transition: background 800ms, box-shadow 800ms;
}

.faq__item--open {
    background-color: rgba(255, 115, 71, 0.9);
    box-shadow: inset -100px 0px 80px -5px rgba(255, 200, 62, 0.9);
}

.faq__item:not(:last-child) {
    margin-bottom: 4px;
}

.faq__item:not(.show) .faq__text {
    display: none;
}

.faq__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    transition: 500ms;
}

@media screen and (max-width: 575px) {
    .faq__title {
        font-size: 15px;
        line-height: 19px;
    }
}

@media screen and (max-width: 358px) {
    .faq__title {
        font-size: 12px;
        line-height: 17px;
    }
}

.faq__title--open {
    margin-bottom: 14px;
    color: #ffffff;
}

@media screen and (min-width: 768px) {
    .faq__title--open {
        margin-bottom: 17px;
    }
}

.faq__text {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    max-width: 1120px;
    color: #fff;
}

@media screen and (max-width: 575px) {
    .faq__text {
        font-size: 14px;
        line-height: 17px;
    }
}

.faq__btn {
    background-color: transparent;
    cursor: pointer;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
}

.faq__arrow {
    width: 15px;
    height: 15px;
    border-bottom: 3px solid #031d69;
    border-right: 3px solid #031d69;
    border-radius: 2px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    right: 43px;
    top: 25px;
    transition: 0.5s ease;
    pointer-events: none;
}

@media screen and (max-width: 575px) {
    .faq__arrow {
        right: 20px;
    }
}

.faq__arrow--open {
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
    border-color: white;
}

.give {
    background: #fefefe;
}

.give__container {
    padding: 61px 15px 62px 15px;
    position: relative;
}

@media screen and (max-width: 1074px) {
    .give__container {
        padding: 61px 15px 0px 15px;
    }
}

@media screen and (max-width: 575px) {
    .give__container {
        padding: 38px 15px 0px 15px;
    }
}

.give__title {
    margin: 0 0 26px 0;
    text-align: start;
    position: relative;
    z-index: 2;
}

@media screen and (max-width: 1074px) {
    .give__title {
        text-align: center;
    }
}

.give__text {
    font-weight: 400;
    font-size: 27px;
    line-height: 133.5%;
    color: #536473;
    margin: 0 0 26px 0;
    max-width: 496px;
    position: relative;
    z-index: 2;
}

@media screen and (max-width: 1074px) {
    .give__text {
        max-width: 100%;
        text-align: center;
    }
}

.give img {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0px;
    z-index: 1;
}

@media screen and (max-width: 1074px) {
    .give img {
        position: relative;
    }
}

@media screen and (max-width: 1074px) {
    .give__row {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: center;
        align-items: center;
    }
}

@media screen and (max-width: 1074px) {
    .give__button {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-align: center;
        align-items: center;
    }
}