<header class="header">
  <div class="header__container">
    <div class="header__row">
      <div class="header__logo">
        <a href="index.html" class="header__logo__link">
          <img src="assets/images/CABINET/logo-cabinet.png" alt="logo" />
        </a>
      </div>
      <div class="header__info">
        <div class="header__user" data-da=".info__dev,757,0">
          <div class="header__user__name">Корнубаев Игорь Иванович</div>
          <div class="header__user__tel">+7 (495) 790-00-05</div>
        </div>
        <a href="index.html" class="header__out__link">
          <img src="assets/images/CABINET/header-out.png" alt="out" />
        </a>
      </div>
    </div>
  </div>
</header>
